label {
	color: white;
}

combobox arrow {
	border-radius: 0;
	padding: 0;
}

combobox * {
	color: white;
	font-family: "Tetris";
	font-size: %f;
	background-color: black;
}

combobox *:hover {
	background-color: #E4E594;
}